body {
      font-family: Arial, Helvetica, sans-serif;
      margin:  0;
      padding: 0;
      color: rgb(35, 32, 32);
}

header{
      background-color: darkmagenta;
      color: white;
      
      
      
}
    
