body {
      font-family: Arial, Helvetica, sans-serif;
      margin:  0;
      padding: 0;
      color: rgb(35, 32, 32);
}

header{
      background-color: rgb(193, 108, 193);
      color: white;
      padding: 20px;
      text-align: center;
      
}

section{
      max-width: 800px;
      padding: 20px;
      margin: 20px auto;
      border-radius: 10px
}

h2{
      color:rgb(193, 108, 193); 

}

a{
      color:rgb(193, 108, 193); ;
}
    
